---
import {
  Header,
  Headline,
  Footer,
  EditorSection,
  EmailModal,
  IntegrationSection,
  DashboardSection,
  ScalabilitySection,
  BaseHead
} from "#components/fragments";
import {
  mdiGit,
  mdiCogOutline,
  mdiArchiveOutline,
  mdiHexagonMultipleOutline,
  mdiWeb,
  mdiOpenSourceInitiative,
  mdiLockOpenVariantOutline
} from "@mdi/js";
import Section from "#components/fragments/section.astro";
import CTACard from "#components/fragments/cta-card.astro";
import { SVGDefs } from "#components/fragments/svg-defs";
import { Card } from "@vrite/components";
import editorImageDark from "#assets/images/dark/editor.png";
import editorImageLight from "#assets/images/light/editor.png";
import SectionHeadline from "#components/fragments/section-headline.astro";
import FeatureCard from "#components/fragments/feature-card.astro";
import editorGraphicDark from "#assets/graphics/dark/editor.png";
import editorGraphicLight from "#assets/graphics/light/editor.png";
import codeEditorGraphicDark from "#assets/graphics/dark/code-editor.png";
import codeEditorGraphicLight from "#assets/graphics/light/code-editor.png";
import SecondaryFeatureCard from "#components/fragments/secondary-feature-card.astro";

const image = "https://vrite.io/meta-image.png";
const title = "Vrite － headless CMS for technical content";
const description =
  "Open-Source headless Content Management System (CMS) for technical content, like programming blogs, documentation, and more.";

export const prerender = true;
---

<!DOCTYPE html>
<html lang="en" class="bg-gray-100 dark:bg-gray-800">
  <head>
    <BaseHead description={description} title={title} image={image} />
  </head>
  <body class="overflow-x-hidden overscroll-none">
    <SVGDefs />
    <main class="flex flex-col items-center justify-center gap-8 p-4 pb-0">
      <div class="h-[100vh] w-full flex justify-center items-start max-w-screen-xl">
        <Header client:idle />
        <div
          class="sticky top-0 flex flex-col-reverse items-center justify-center w-full h-screen -mt-16 md:flex-row max-w-screen-2xl"
        >
          <div class="w-[60rem] max-w-full flex flex-1 flex-col justify-center items-center">
            <Headline client:idle />
          </div>
        </div>

        <div class="icon-scroll"></div>
      </div>
      <Section>
        <SectionHeadline
          imageAlt="Vrite content editor"
          imageSrcDark={editorImageDark.src}
          imageSrc={editorImageLight.src}
          title="Jump right in"
        >
          With built-in GitHub synchronization and powerful APIs, Vrite integrates right into your
          workflow. Set it up in minutes and get back to work!
        </SectionHeadline>
        <div class="grid max-w-screen-xl grid-cols-1 gap-4 md:gap-4 md:grid-cols-1">
          <FeatureCard
            imageDark={editorGraphicDark.src}
            imageLight={editorGraphicLight.src}
            header="GitHub integration"
            imageAlt="Content editor"
            gradient
            reverse
          >
            Docs-as-code in a new way. Vrite integrates with your GitHub repository to keep your
            content synced, no matter the format. It's modern WYSIWYG experience for your content -
            with Commits and pulls to resolving merge conflicts!
          </FeatureCard>
          <div class="grid grid-cols-1 gap-4 md:gap-4 lg:grid-cols-3">
            <SecondaryFeatureCard icon={mdiHexagonMultipleOutline} title="Versatile">
              Using Markdown, MDX, Markdoc, or other formats? Simply provide a custom transformer to
              import and export your content.
            </SecondaryFeatureCard>
            <SecondaryFeatureCard icon={mdiWeb} title="Headless">
              Integrate Vrite with tools you already use, thanks to powerful API.
            </SecondaryFeatureCard>
            <SecondaryFeatureCard icon={mdiLockOpenVariantOutline} title="Open">
              Vrite is open-source and free to use. You can host it yourself or use our cloud.
            </SecondaryFeatureCard>
          </div>
        </div>
      </Section>
      <Section>
        <SectionHeadline
          title="Write and code the way you like"
          imageAlt="Vrite content editor"
          imageSrcDark={editorImageDark.src}
          imageSrc={editorImageLight.src}
          reverse
        >
          Writing experience as developers like it - with everything from Markdown support to code
          editor included.
        </SectionHeadline>
        <div class="grid max-w-screen-xl grid-cols-1 gap-4 md:gap-4 md:grid-cols-1">
          <FeatureCard
            imageDark={editorGraphicDark.src}
            imageLight={editorGraphicLight.src}
            header="Modern editing experience"
            imageAlt="Content editor"
          >
            Write and format your content just the way you prefer it. Use Markdown or keyboard
            shortcut along with modern editing toolbars and menus to create your next amazing
            content piece.
          </FeatureCard>
          <div class="flex gap-4 flex-col-reverse md:flex-row">
            <FeatureCard
              imageDark={editorGraphicDark.src}
              imageLight={editorGraphicLight.src}
              header="Modern editing experience"
              imageAlt="Content editor"
              gradient
              reverse
              vertical
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex vel
              fringilla tempus. In ut lacus at metus luctus venenatis rutrum sed tortor. Cras id
              elit sed purus rutrum tempor vitae vestibulum eros. Integer risus ligula, mollis id
              nisi vel, efficitur lobortis augue. Aliquam ullamcorper ex eu magna pellentesque,
              mattis hendrerit
            </FeatureCard>
            <div class="flex justify-start items-center flex-col gap-4">
              <SecondaryFeatureCard icon={mdiHexagonMultipleOutline} title="Versatile">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex vel
                fringilla tempus.
              </SecondaryFeatureCard><SecondaryFeatureCard
                icon={mdiHexagonMultipleOutline}
                title="Versatile"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex vel
                fringilla tempus.
              </SecondaryFeatureCard>
            </div>
          </div>
        </div>
      </Section>
      <CTACard />
      <Footer client:idle />
    </main>
  </body>
</html>
