---
import { Analytics } from "#components/fragments";
import "#styles/base.css";
import "#styles/styles.scss";

export interface Props {
  title: string;
  description: string;
  image?: string;
  analytics?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, image = "/meta-image.jpg" } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={canonicalURL} />
<link
  rel="preload"
  as="font"
  crossorigin="anonymous"
  href="/nunito-latin-variable-wghtOnly-normal.woff2"
  type="font/woff2"
/>
<link
  rel="preload"
  as="font"
  crossorigin="anonymous"
  href="/nunito-latin-ext-variable-wghtOnly-normal.woff2"
  type="font/woff2"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
{Astro.props.analytics !== false && <Analytics client:only />}
