---
import { Header, BaseHead, SideBar, SVGDefs } from "#components/fragments";
import { getCollection } from "astro:content";
import "#styles";

const image = "https://vrite.io/meta-image.png";
const title = "Vrite ï¼ headless CMS for technical content";
const description =
  "Dedicated headless Content Management System (CMS) for technical content, like programming blogs, documentation, and more.";

const usageGuide = await getCollection("usage-guide");
const menu = usageGuide.map((item) => ({
  title: item.data.title,
  link: `/usage-guide/${item.slug}`
}));
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead description={description} title={title} image={image} />
  </head>
  <body class="overflow-x-hidden overscroll-none">
    <SVGDefs />
    <main
      class="flex flex-col items-center justify-center gap-8 h-full bg-gray-100 dark:bg-gray-800"
    >
      <div class="min-h-screen w-full flex justify-center items-start h-full">
        <SideBar menu={menu} currentPath={Astro.url.pathname} client:idle />
        <div
          class="flex-1 flex justify-center items-center flex-col relative overflow-hidden max-h-screen"
        >
          <Header />
          <div
            class="flex-1 flex relative overflow-y-auto overflow-x-hidden md:max-h-[calc(100vh-3.125rem)] h-screen w-full"
          >
            <slot />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
