---
import { Header, BaseHead, SideBar, SVGDefs, OnThisPage } from "#components/fragments";
import type { MarkdownHeading } from "astro";
import menu from "./menu.json";

const image = "https://docs.vrite.io/meta-image.png";
const title = "Vrite － headless CMS for technical content";
const description =
  "Open-source headless Content Management System (CMS) for technical content, like programming blogs, documentation, and more.";

type Props = {
  headings: MarkdownHeading[];
  title: string;
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead description={description} title={title} image={image} />
  </head>
  <body class="overflow-x-hidden overscroll-none">
    <SVGDefs />
    <main class="flex flex-col items-center justify-center h-screen bg-gray-50 dark:bg-gray-800">
      <Header />
      <div class="flex-1 flex justify-center items-center overflow-hidden flex-1 w-full">
        <SideBar menu={menu} currentPath={Astro.url.pathname} client:load />
        <div class="flex overflow-hidden w-full relative h-full">
          <div
            class="flex-1 flex overflow-y-auto overflow-x-hidden md:max-h-[calc(100vh-3.125rem)]"
            id="container"
          >
            <div
              class="flex-1 prose max-w-screen-lg w-full text-lg px-4 pt-4 lg:px-36 pb-24 h-fit xl:w-[calc(100%-15rem)]"
            >
              <slot />
            </div>
            <OnThisPage headings={Astro.props.headings} client:load />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
