---
import { Header, BaseHead, SideBar, SVGDefs, OnThisPage, Navigation } from "#components/fragments";
import { CollectionEntry, getCollection } from "astro:content";
import type { MarkdownHeading } from "astro";
import "#styles";

const image = "https://docs.vrite.io/meta-image.png";
const title = "Vrite ï¼ headless CMS for technical content";
const description =
  "Dedicated headless Content Management System (CMS) for technical content, like programming blogs, documentation, and more.";

const docs = await getCollection("docs");
const menu = docs
  .filter((entry) => {
    return entry.data.category === "Usage Guide";
  })
  .map((entry) => ({
    title: entry.data.title,
    link: `/${entry.slug}`
  }));

type Props = {
  headings: MarkdownHeading[];
  title: string;
  nextEntry?: CollectionEntry<"docs">;
  previousEntry?: CollectionEntry<"docs">;
};

let nextEntry: { label: string; link: string } | undefined = undefined;
let previousEntry: { label: string; link: string } | undefined = undefined;

if (Astro.props.nextEntry) {
  nextEntry = {
    label: Astro.props.nextEntry.data.title,
    link: `/${Astro.props.nextEntry.slug}`
  };
}

if (Astro.props.previousEntry) {
  previousEntry = {
    label: Astro.props.previousEntry.data.title,
    link: `/${Astro.props.previousEntry.slug}`
  };
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead description={description} title={title} image={image} />
  </head>
  <body class="overflow-x-hidden overscroll-none">
    <SVGDefs />
    <main
      class="flex flex-col items-center justify-center gap-8 h-full bg-gray-100 dark:bg-gray-800"
    >
      <div class="min-h-screen w-full flex justify-center items-start h-full">
        <SideBar menu={menu} currentPath={Astro.url.pathname} client:idle />
        <div class="flex-1 flex justify-center items-center flex-col overflow-hidden max-h-screen">
          <Header />
          <div class="flex overflow-hidden w-full relative">
            <div
              class="flex-1 flex overflow-y-auto overflow-x-hidden md:max-h-[calc(100vh-3.125rem)] h-screen"
              id="container"
            >
              <div
                class="flex-1 prose max-w-screen-lg w-full text-lg px-4 lg:px-16 pb-24 h-fit xl:w-[calc(100%-15rem)]"
              >
                <h1>{Astro.props.title}</h1>
                <slot />
                <Navigation previousEntry={previousEntry} nextEntry={nextEntry} />
              </div>
              <OnThisPage headings={Astro.props.headings} client:load />
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
