---
import { Header, BaseHead, SideBar, SVGDefs, OnThisPage } from "#components/fragments";
import type { MarkdownHeading } from "astro";
import menu from "./menu.json";

const image = "https://docs.vrite.io/meta-image.png";
const title = "Vrite － developer content platform";
const description =
  "Open-Source, collaborative developer content platform for documentation, technical blogs, and more.";

type Props = {
  headings: MarkdownHeading[];
  title: string;
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead description={description} title={title} image={image} />
  </head>
  <body class="overflow-x-hidden overscroll-none">
    <SVGDefs />
    <main class="flex flex-col items-center justify-center bg-gray-50 dark:bg-gray-800">
      <div class="flex-1 flex justify-center items-center flex-1 w-full max-w-screen-2xl relative">
        <Header client:only />
        <SideBar menu={menu} currentPath={Astro.url.pathname} client:load />
        <div class="flex overflow-hidden w-full relative h-full pt-12">
          <div class="flex-1 flex overflow-y-auto overflow-x-hidden justify-center" id="container">
            <div
              class="flex-1 prose max-w-screen-md w-full text-lg px-4 pt-4 pb-24 h-fit xl:w-[calc(100%-15rem)]"
            >
              <slot />
            </div>
            <OnThisPage headings={Astro.props.headings} client:load />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
