---
import "#styles/base.css";
import "@fontsource/nunito";
import "@fontsource/nunito/500.css";
import "@fontsource/nunito/600.css";
import "@fontsource/nunito/700.css";
import "@fontsource/nunito/800.css";
import "@fontsource/nunito/900.css";
import { Button, Card, IconButton } from "#components/primitives";
import { mdiCalendar } from "@mdi/js";
import { format } from "date-fns";
import { BaseHead, Header, Footer } from "#components/fragments";
import { getContentPieces } from "virtual:vrite";

const contentPieces = await getContentPieces({ limit: "all" });
const title = "Vrite － headless CMS for technical content";
const description =
  "Open-Source headless Content Management System (CMS) for technical content, like programming blogs, documentation, and more.";

export const prerender = true;
---

<html lang="en" class="dark">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="overflow-x-hidden overscroll-none">
    <main
      class="flex flex-col items-center justify-center gap-8 p-4 pb-0 bg-gray-100 dark:bg-gray-800"
    >
      <div class="w-full flex justify-center items-start max-w-screen-lg">
        <Header client:idle />
      </div>
      <div class="min-h-screen max-w-screen-xl w-full mt-16">
        <header
          class="text-gray-600 dark:text-gray-100 font-extrabold text-3xl md:text-5xl flex justify-start items-center"
        >
          <h1>Blog</h1>
        </header>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 py-4 flex-1">
          {
            contentPieces.map((contentPiece) => (
              <Fragment>
                <a href={`/blog/${contentPiece.slug}/`}>
                  <div>
                    <Card color="primary" class="m-0 pb-0 pl-0 pr-2 pt-2 overflow-hidden">
                      <img
                        class="w-full rounded-2xl hover:hero-image transition-transform duration-500 shadow-xl"
                        src={`${contentPiece.coverUrl}?w=600?format=webp`}
                      />
                    </Card>
                    <div class="px-2">
                      <div class="flex justify-start items-center mt-2">
                        <>
                          <IconButton
                            path={mdiCalendar}
                            class="px-1"
                            color="primary"
                            size="small"
                            badge
                            label={format(
                              contentPiece.date ? new Date(contentPiece.date) : new Date(),
                              "dd MMM yyyy"
                            )}
                          />
                        </>
                      </div>
                      <h2 class="text-xl md:text-2xl text-gray-600 dark:text-gray-100">
                        {contentPiece.title}
                      </h2>
                      <div class="flex justify-start items-center mt-1">
                        {contentPiece.members.map((member) => {
                          return (
                            <Button
                              class="flex gap-1 m-0 border-0 justify-center items-center pl-1.5"
                              badge
                            >
                              <img src={member.profile.avatar} class="h-6 w-6 rounded-full" />
                              <span class="font-semibold">{member.profile.fullName}</span>
                            </Button>
                          );
                        })}
                      </div>
                    </div>
                  </div>
                </a>
              </Fragment>
            ))
          }
        </div>
      </div>
      <Footer />
    </main>
  </body>
</html>
